<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="app">
    First name: {{ first_name }} <br>
    Last name: {{ last_name }} <br>
    <span v-if="isAgeSeen">
      Age: {{ age }} <br>
      <b>{{ age >= 18 ? 'You are an adult.' : 'You are still a child.' }}</b>
      <br>
    </span>
    Zip code: {{ zip_code }} <br>
    <div v-once class="email"> this email will never change: {{ email }}</div>

  </div>
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.label }}
      </li>
    </ol>
  </div>

  <div id="app-3">
    <ol>
      <li v-for="number in numbers" v-if="number % 2 === 0 && number <= 80">
        {{ number }}
      </li>
    </ol>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>


  <div id="app-7">
    <yo message="Eduardo Telaya ejeje"></yo>

    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>

  <div id="fireApp">
    <card-fire
      v-for="fire in fires"
      v-bind:fire="fire"
      v-bind:key="fire.id"
    ></card-fire>
  </div>

  <div id="app-9">
    <!-- <form v-on:submit.prevent="onSubmit"> -->
    <!-- here goes shorthand for modifiers -->
    <form @submit.prevent="onSubmit">
      Insert name:
      <input v-model="first_name" type="text">
      Your name: {{ first_name }}
      <button type="submit">Send</button>
    </form>
  </div>
  <div id="app-10">
    <!-- <form v-on:submit.prevent="onSubmit"> -->
    <!-- here goes shorthand for modifiers -->
    A: <input v-model.number="a" type="number"> value: {{ a }} <br>
    B: <input v-model.number="b" type="number"> value: {{ b }} <br>
    Here's result: {{ getSum }}
  </div>
<script src="script.js"></script>
</body>
</html>

